<html>
  <head>
    <title>Performance Chart</title>
    <link href="/bower_components/multiple-select/multiple-select.css" rel="stylesheet"/>
    <style type="text/css">
        #url-list {
            width: 300px;
            background: white;
            border: 1px solid #D8D8D8;
            color: #3b3b3b;
            font-size: 16px;
            padding: 6px;
        }

        #graph-fields {
            width: 200px;
        }
    </style>
  </head>
  <body>
    <select id="url-list">
        <option value="" disabled selected>Select URL for Analytics</option>
        <% for(var i=0; i<urls.length; i++) {%>
            <% if(urls[i].name){ %>
                <option value="<%= urls[i].url %>"><%= urls[i].name %></option>
            <% } else { %>
                <option><%= urls[i].url %></option>
            <% } %>
        <% } %>
    </select>
    <select multiple="multiple" id="graph-fields">
        <% for(var i=0; i<fields.length; i++) {%>
            <option><%= fields[i] %></option>
        <% } %>
    </select>
    <div id="container" style="height: 400px"></div>
    <div id="repeat-view-container" style="margin-top:60px; height: 400px"></div>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/highcharts/highcharts.js"></script>
    <script src="/bower_components/multiple-select/jquery.multiple.select.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
